{% include 'staffheader.html'%}


 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" style="height: 700px">
    <div class="container text-center text-md-left" data-aos="fade-up">
<center>
<h1>Manage Courier</h1>
<form method="post">

	{% if data['courierupdate']%}

	<table class="table" style="width:500px">
		<tr>
			<th>Name</th>
			<td><input type="text" required="" class="form-control" value="{{data['courierupdate'][0]['courier_name']}}" name="fname"></td>
		</tr>

		</tr>
			<tr>
			<th>Street</th>
			<td><input type="text" required="" class="form-control" value="{{data['courierupdate'][0]['courier_street']}}"   name="street"></td>
		</tr>
		<tr>
			<th>District</th>
			<td><input type="text" required="" class="form-control" value="{{data['courierupdate'][0]['courier_dist']}}"    name="district"></td>
		</tr>

		<tr>
			<th>State</th>
			<td><input type="text" required="" class="form-control" value="{{data['courierupdate'][0]['courier_state']}}"    name="state"></td>
		</tr>
		<tr>
			<th>Pincode</th>
			<td><input type="text" required="" pattern="[0-9]{6}" value="{{data['courierupdate'][0]['courier_pincode']}}" class="form-control"  name="pin"></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td><input type="text" required="" pattern="[0-9]{10}" class="form-control" value="{{data['courierupdate'][0]['courier_phone']}}"    name="num"></td>
		</tr>
		<tr>
			<th>E-Mail</th>
			<td><input type="email" required="" class="form-control" value="{{data['courierupdate'][0]['courier_email']}}"  name="email"></td>
		</tr>

		
		
		<td align="center" colspan="2"><input type="submit" name="update" value="submit" class="btn btn-success"></td>
	</table>
{% else %}
	<table class="table" style="width:500px">
		<tr>
			<th>Name</th>
			<td><input type="text" required="" class="form-control" name="fname"></td>
		</tr>
			<tr>
			<th>Street</th>
			<td><input type="text" required="" class="form-control" name="street"></td>
		</tr>
		<tr>
			<th>District</th>
			<td><input type="text" required="" class="form-control" name="district"></td>
		</tr>
		<tr>
			<th>State</th>
			<td><input type="text" required="" class="form-control"    name="state"></td>
		</tr>
			<tr>
			<th>Pincode</th>
			<td><input type="text" required="" pattern="[0-9]{6}" class="form-control" name="pin"></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td><input type="text" required="" pattern="[0-9]{10}" class="form-control" name="num"></td>
		</tr>
		<tr>
			<th>E-Mail</th>
			<td><input type="email" required="" class="form-control" name="email"></td>
		</tr>
		<tr>
			<th>User Name</th>
			<td><input type="email" required="" class="form-control"  name="uname"></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" required="" class="form-control" name="pwd"></td>
		</tr>
		
		<td align="center" colspan="2"><input type="submit" name="courier" value="submit" class="btn btn-success"></td>
	</table>
{% endif %}
</form>
</center>
</div></section>
<center>
	<h1>view courier</h1>
	<form>
		<table class="table" style="width: 500px">
			<tr>
				<th>sino</th>
				<th>Name</th>
				<th>Street</th>
					<th>District</th>
					<th>State</th>
					<th>Pincode</th>
				<th>Phone</th>
				<th>E-Mail</th>
								
			</tr>
	{% for row in data['courierview']%}
    	<tr>
    		<td>{{loop.index}}</td>
    		<td>{{row['courier_name'] }}</td>
    		<td>{{row['courier_street'] }}</td>
    		<td>{{row['courier_dist'] }}</td>
    		<td>{{row['courier_state'] }}</td>
    		<td>{{row['courier_pincode']}}</td>
    		<td>{{row['courier_phone'] }}</td>

    		<td>{{row['courier_email'] }}</td>
    	
    			{% if row['status']=='1' %}

       <td><a href="?action=inactive&cid={{row['username']}}">In Actice</a></td>

     {% elif row['status']=='0'%}
           
           
    		
    			<td><a class="btn btn-success" href="?action=active&cid={{row['username']}}">Active</a></td>

    		
    		{% endif %}

      <td><a class="btn btn-success" href="?action=update&cid={{row['courier_id']}}">Update</a></td>
            
    	</tr>
    	{% endfor %}
    
		</table>
    
	</form>
</center>

{% include 'footer.html'%}